.elementRight: {
      height: 48;
      minHeight: 48;
      marginTop: 0;
  }
  .title: {
      cursor: 'pointer';
      
  }

  .iconColor: '#8F8F8F';

  .uploadButton: {
      verticalAlign: 'middle';
    }

  .uploadInput: {
      cursor: 'pointer';
      position: 'absolute';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: '100%';
      opacity: 0;
    }
